.mainmenu {
	float: right;
	padding: #{4 * $header_vertical_padding} 0;
	font-weight: 400;
	color: scheme(1);

	li {
		display: inline-block;
		margin-left: 20px;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}