.contentbox {
	text-align: center;
	height: 100%;

	&:before {
		content: 'a';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	.contentbox_content {
		display: inline-block;
		vertical-align: middle;

	}
}