i {

	&.inline {
		margin-right: 10px;
	}

	// modifiers
	&.large {
		@include font-size(icon2x);
		margin-right: 10px;
		position: relative;
		top: 3px;
	}

	&.overflow {
		height: 14px;
		float: left;
		position: relative;
		top: -4px;
	}
}