{{>app_header}}

{{>app_control_bar}}

{{>app_parts}}

<div ng-include="modal"></div>


<footer class="panel">
	<div class="panel-body">
		Shout out to <a href="http://rebrickable.com//">rebrickable</a> for providing a great api
	</div>
</footer>