{{>home_header}}

{{!-- <div class="panel screen dark" style="background-image: url('https://c1.staticflickr.com/9/8654/16573528171_8aeaa528de_k.jpg')">
	<div class="attribution"><i class="fa fa-camera inline"></i>photo by <a href="https://www.flickr.com/photos/jlmelo/">Leonardo Melo</a></div>
	<div class="veil"></div>
	<div class="contentbox">
		<div class="contentbox_content">
			<div ng-click="signin()" class="btn huge shadowed">Login to access the App</div>
		</div>
	</div>
</div> --}}


<div class="panel">

	<div class="panel_body extra_padded center">
		<div class="row">
			<div class="col-md-6">
				<img class="overflow" src="/assets/img/promo_images/sheets.png">
			</div>
			<div class="col-md-6">
				<div class="wedge-8x"></div>
				<div class="wedge-xl-up-8x"></div>
				<div class="wedge-sm-up-8x"></div>
				<h1>Print beautiful labels</h1>
				<p>You can do so much more when your bricks are nicely orgnized</p>
				<div class="wedge"></div>
				<div ng-click="signin()" class="btn huge inverted">Login to access the App</div>
			</div>
		</div>
	</div>

	<div class="panel_body extra_padded center">
		<div class="row">
			<div class="col-md-6">
				<div class="wedge-6x"></div>
				<div class="wedge-lx-up-6x"></div>
				<h1>Custom sizes</h1>
				<p>Labels will fit your containers precisely. You can also customize the label to your liking.</p>
				<div class="wedge"></div>
				<div ng-click="signin()" class="btn huge inverted">Login to access the App</div>
			</div>
			<div class="col-md-6">
				<img class="overflow" style="left: 20%;" src="/assets/img/promo_images/different_sizes.png">
			</div>
		</div>
	</div>

	<div class="panel_body extra_padded center">
		<div class="row">
			<div class="col-md-6">
				<img class="fluid" src="/assets/img/promo_images/searching.png">
			</div>
			<div class="col-md-6">
				<div class="wedge-8x"></div>
				<div class="wedge-xl-up-4x"></div>
				<div class="wedge-sm-up-6x"></div>
				<h1>Build more</h1>
				<p>You can do so much more when your bricks are nicely orgnized</p>
				<div class="wedge"></div>
				<div ng-click="signin()" class="btn huge inverted">Login to access the App</div>
			</div>
		</div>
	</div>

</div>