<header class="panel blue fixed">
	<div class="panel-body">
		<div class="logo">
			{{>logo}}
		</div>
		<nav class="mainmenu">
		</nav>
	</div>
</header>

<div class="panel screen dark" style="background-image: url('/assets/img/bg.jpg')">
	{{!-- <div class="veil"></div> --}}
	<div class="contentbox">
		<div class="contentbox_content">
			<div ng-click="signin()" class="btn huge blue">Start</div>
		</div>
	</div>
</div>