<header class="panel white">
	<div class="panel-body">
		<div class="logo inverted">
			{{>logo}}
		</div>
		<nav class="mainmenu">
			<ul>
				<li>App</li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</div>
</header>

<div class="panel screen dark" style="background-image: url('https://c1.staticflickr.com/9/8654/16573528171_8aeaa528de_k.jpg')">
	<div class="attribution"><i class="fa fa-camera inline"></i>photo by <a href="https://www.flickr.com/photos/jlmelo/">Leonardo Melo</a></div>
	<div class="veil"></div>
	<div class="contentbox">
		<div class="contentbox_content">
			<div ng-click="signin()" class="btn huge shadowed">Login to access the App</div>
		</div>
	</div>
</div>
