<header class="panel blue">
	<div class="panel-body">
		<div class="logo">
			{{>logo}}
		</div>
	</div>
</header>

<div class="panel screen dark" style="background-image: url('https://image.shutterstock.com/display_pic_with_logo/809503/512239963/stock-photo-hilversum-the-netherlands-november-lego-blocks-plastic-construction-toy-manufactured-512239963.jpg')">
	<a href="" ng-click="signin()" class="btn">Login</a>
</div>