<header class="panel fixed white">
	<div class="panel-body">
		<div class="logo inverted">
			{{>logo}}
		</div>
		<nav class="mainmenu">

			<div ng-click="signin()" class="btn blue"><div class="start_here">{{>start_here}}</div>Login</div>
		</nav>
	</div>
</header>

<div class="panel screen dark" style="background-image: url('/assets/img/bg.jpg')">
	{{!-- <div class="veil"></div> --}}
	<div class="contentbox">
		<div class="contentbox_content">
		</div>
	</div>
</div>