<footer >
	<div class="panel green">
		<div class="panel-body padded">
			Shout out to <a href="http://www.rebrickable.com/" target="_blank">Rebrickable</a> for providing a great api
		</div>
	</div>
	<div class="panel blue">
		<div class="panel-body padded">
			LEGO®is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site
		</div>
	</div>
</footer>