<footer >
	<div class="panel green">
		<div class="panel_body padded">
			Shout out to <a href="http://www.rebrickable.com/" target="_blank">Rebrickable</a> for providing a great api
			<a class="pull-right subtle" href="https://github.com/Gottwik/legolabels" target="_blank">
				<i class="fa fa-github inline large overflow"></i>This website on github
			</a>
		</div>
	</div>
	<div class="panel blue">
		<div class="panel_body padded">
			LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site
			<div class="built_with_enduro">
				<a href="https://www.endurojs.com/" target="_blank">
					<img src="https://s3-eu-west-1.amazonaws.com/enduro.website/direct_uploads/1484647615_made_with_enduro.png" srcset="https://s3-eu-west-1.amazonaws.com/enduro.website/direct_uploads/1484647615_made_with_enduro.png 1x, https://s3-eu-west-1.amazonaws.com/enduro.website/direct_uploads/1484647617_made_with_enduro@2x.png 2x">
				</a>
			</div>
		</div>
	</div>
</footer>