.search_bar_card {

	input {
		position: absolute;
		bottom: -10px;
		width: calc(100% - 40px) !important;
	}

	.results {
		position: absolute;
		border: 1px solid $black;
		padding: 20px;

		.result {
			img {
				height: 80px;
			}
		}
	}
}