.search_bar_card {

	.card-body > .row {
		position: absolute;
		width: calc(100% - 30px) !important;
		bottom: -15px;
	}

	input {
		bottom: -10px;
	}

	.no_part {
		text-align: center;
		padding: 30px 20px 40px;
	}
}