.panel {
	background-size: cover;

	// modifiers
	&.blue {
		background-color: scheme(1);
		color: $white;
	}

	&.green {
		background-color: scheme(2);
	}

	&.white {
		background-color: $white;
	}

	&.dark {
		background-color: $black;
	}

	&.screen {
		height: 100vh;
	}

	&.fixed {
		position: fixed;
		width: 100%;
		z-index: 2;
	}

}