.panel {
	background-size: cover;
	position: relative;
	background-position: center center;

	// modifiers
	&.blue {
		background-color: scheme(1);
		color: $white;
	}

	&.green {
		background-color: scheme(2);
	}

	&.white {
		background-color: $white;
	}

	&.dark {
		background-color: $black;
	}

	&.grey {
		background-color: $grey;
		color: $white;
	}

	&.screen {
		height: calc(100vh - #{$header_height});
	}

	&.topper {
		height: 40vh;

		&:before {
			@include full();
			content: '';
			background-color: rgba($white, .8);
		}

		> .contentbox {
			position: relative;
			z-index: 1;
		}

		// children
		.attribution {
			background-color: $grey;
		}
	}

	&.fixed {
		position: fixed;
		width: 100%;
		z-index: 2;
	}

}
