// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font-sizes: (
	xl: 70px,
	lg: 26px,
	md: 20px,
	sm: 16px,
	xs: 14px,
	icon: 14px,
	icon2x: 28px,
) !default;