$grid-gutter-width-base: 10px;

$header_height: 60px;
$header_vertical_padding: 5px;

$footer_height: 76px;

$standard_padding: 20px;
$panel_body_padding: 50px;

$button_padding_horizontal: 10px;
$button_padding_vertical: 10px;
