.select {
	font-weight: 400;
	position: relative;
	min-width: 120px;
	display: inline-block;

	.label {
		position: absolute;
		top: -22px;

	}

	select {
		background: transparent;
		border: 1px solid $white;
		padding: 10px 10px 10px 30px;
		color: $white;
		border-radius: 3px;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		width: 100%;
	}

	&:before {
		position: absolute;
		left: 13px;
		top: 12px;
		content: "\f0d7";
		font: normal normal normal 16px/1 FontAwesome;
	}
}