input[type="number"],
input[type="text"] {
	padding: 10px;
	border: 0;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;

	// modifiers
	&.huge {
		width: calc(100% - 40px);
		padding: 10px 20px;
		text-align: center;
		font-weight: 300;
	}

	&.tiny {
		padding: 0;
	}

}