<header class="panel white">
	<div class="panel_body">
		<div class="logo inverted">
			{{>logo}}
		</div>
		<nav class="mainmenu">
			<ul>
				<li><a ng-href="#/blog">Blog</a></li>
				<li ng-click="signin()">App</li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</div>
</header>