.parts {
	margin: 0 -10px;

	.part {
		width: calc(25% - 20px);
		float: left;
		padding: 20px;
		border: 1px solid #888;
		margin: 10px;
		border-radius: 5px;
		display: inline-block;

		img {
			width: 25%;
		}

		&.selected {
			border-color: #0f0;
		}
	}
}