$part_border_color: rgba($grey, .3);

.parts {

	margin-bottom: 10px;

	.parts_padder {
		margin: 10px -10px;
	}

	.part {
		width: calc(25% - 20px);
		float: left;
		padding: 10px 20px 10px 10px;
		border: 1px solid $part_border_color;
		margin: 10px;
		border-radius: $standard-round-corners;
		display: inline-block;
		height: 75px;
		transition: border-color $standard-transition;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		user-select: none;

		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 30px;
		// 	pointer-events: none;
		// 	background: linear-gradient(to bottom, rgba($white, 0), rgba($white, 1) 90%);
		// 	bottom: 0;
		// 	left: 0;
		// }

		.row {
			height: 100%;
		}

		.col {
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&.selected {
			border-color: rgba(scheme(1), .5);
			border-width: 3px;
			padding: 8px 18px;

			.tiny_controls {
				margin: -2px;
			}
		}

		// hover
		&:hover {
			border-color: scheme(1);

			.tiny_controls {
				opacity: 1;
			}
		}

		&.overlay_open {
			.tiny_controls {
				opacity: 1;
			}
		}

		// children
		.part_id {
			font-weight: 400;
		}

		.part_category {
		}

		.part_name {
			white-space: nowrap;
		}

		.part_image {
			z-index: 1;
		}

		.tiny_controls {
			color: lighten($black, 10%);
			opacity: 0;
		}
	}
}