.logo {
	float: left;

	svg {
		height: #{$header_height - 2 * $header_vertical_padding};
		width: 180px;
		margin: $header_vertical_padding 0 #{$header_vertical_padding - 3px};
	}

	&.inverted {
		path {
			fill: scheme(1);
		}
	}
}