.profile_menu {
	float: right;
	padding: 17px 20px;
	position: absolute;
	right: $panel_body_padding;
	top: 0;
	font-size: 16px;
	font-weight: 400;

	.profile_info {
		height: 39px;
		cursor: pointer;

		img {
			height: 100%;
			border-radius: 50px;
			vertical-align: middle;
			display: inline-block;
		}

		i {
			position: relative;
			top: 2px;
			margin-right: 10px;
			margin-left: -5px;
			transition: transform .3s ease;
		}
	}

	.username {
		display: inline-block;
		position: relative;
		top: 2px;
		margin-right: 10px;
	}

	.provile_nav {
		display: none;
		position: absolute;
		background-color: darken(scheme(1), 5%);
		width: 100%;
		left: 0;
		top: 60px;
		z-index: 5;

		ul {
			padding: 0 20px;

			li {
				cursor: pointer;
			}
		}
	}

	&:hover {
		background-color: darken(scheme(1), 5%);
	}

	&.profile_menu_open {
		background-color: darken(scheme(1), 5%);

		.provile_nav {
			display: block;
		}

		.profile_info i {
			transform: rotate(180deg);
		}
	}

}